/bin/
/classes/
/tmp/
/defunct-libs/
lib/jid3lib-0.5.4-src/
*.class
HashCache
Myster Documentation
mysterprefs.mml
*.exe
*.dmg
/target/
.settings/*
/pom.xml.versionsBackup
/settings.json
.vscode/*
/.lock
/.DS_Store
/.idea/*

